<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Tornar" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="image"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ brand }}</ion-card-subtitle>
      <ion-card-title>{{ model }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-button (click)="presentAlert()" color="danger" expand="block">Eliminar moto</ion-button>


</ion-content>
