<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Filtrar motos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="clickMarca('Ducati')">
        <ion-img src="https://motosparaela2.files.wordpress.com/2015/06/logo-ducati-vectorial-vector.png" class="ducati" slot="start"></ion-img>
        <ion-label>Ducati</ion-label>
      </ion-item>
      <ion-item (click)="clickMarca('Yamaha')">
        <ion-img src="https://motosdomarco.com/wp-content/uploads/2019/03/yamaha-logo-vert-e1553099028364.png" class="yamaha" slot="start"></ion-img>
        <ion-label>Yamaha</ion-label>
      </ion-item>
      <ion-item (click)="clickMarca('Honda')">
        <ion-img src="https://logodownload.org/wp-content/uploads/2014/09/honda-autos-logo.png" class="honda" slot="start"></ion-img>
        <ion-label>Honda</ion-label>
      </ion-item>
      <ion-item  (click)="getJson()">
        <ion-label>Totes</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-content [fullscreen]="true">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Motos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let moto of motos" (click)="edit(moto.id, moto.marca, moto.modelo, moto.foto)">
          <ion-thumbnail slot="start">
            <ion-img class="moto" [src]="moto.foto"></ion-img>
          </ion-thumbnail>
          <ion-label>
            {{ moto.marca }} {{ moto.modelo }}
          </ion-label>
        </ion-item>  
      </ion-list>
    
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="goInsert()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    </ion-content>
  </div>
  
</ion-content>
