<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Tornar" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Afegir moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <label for="foto">
        <ion-icon size="large" name="image-outline"></ion-icon>
      </label>
      <input id="foto" type="file" name="foto" accept="image/*" capture="camera" />
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Marca</ion-label>
      <ion-input [(ngModel)]="marca" type="text" placeholder="Ducati"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Model</ion-label>
      <ion-input [(ngModel)]="model" type="text" placeholder="117"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Any</ion-label>
      <ion-input [(ngModel)]="any" type="numeric" placeholder="2012"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Preu</ion-label>
      <ion-input [(ngModel)]="preu" type="numeric" placeholder="1500"></ion-input>    
    </ion-item>
  </ion-list>

  <ion-button color="primary" (click)="insertMoto()" expand="block">Afegir moto</ion-button>

</ion-content>
